@use "sass:math";

// コンテンツのインナー幅（最も共通の幅が多い部分）
$inner: 1100px;

// 余白
//$padding-pc: 20px;
$padding-pc: 20px;
$padding-sp: 15px;


////////////////////
// フォント設定
////////////////////
//日本語
/* medium */
@font-face {
 font-family: 'Yu Gothic';
 font-weight: 500;
 src: url(../fonts/YuGothM.ttc) format('truetype');
 font-style: normal;
}
// 英語
@font-face {
  font-family: 'felix-titling';
  src: url('../fonts/felix-titling.woff') format("woff");
  font-weight: normal;
  font-style: normal;
}

@import url('https://fonts.googleapis.com/css2?family=Figtree&display=swap');

$base-font-family: "Yu Gothic", "游ゴシック体",  "メイリオ", sans-serif;
$English-font-family-01: "felix-titling", "sans-serif";
$English-font-family-02: "Figtree", "sans-serif";

// ※検証ツールでしっかり反映されているか確認する

// フォントウェイト
$regular: 300;
$normal: 400;
$medium: 500;
$semibold: 600;
$bold: 700;

////////////////////
// 色の指定
////////////////////

$black-01: #0A101C;
$black-02: #1A1A1A;
$black-03: #000000;
$white: #fff;
$color01: #02112D; //navy
$color02: #252D3B; // grey
$color03: #0E337A; //blue
$color04: #F4F6F8; //light grey

////////////////////
// メディアクエリとブレークポイントの設定
////////////////////

//ブレイクポイント
//$breakpoints: (
//  sm: 520,
//  md: 767,
//  lg: 1024,
//  xl: 1440,
//);

$breakpoints: (
  sm: 521,
  md: 767,
  lg: 1025,
  xl: 1441,
);


//メディアクエリー
$mediaquerys: (
  sm: "screen and (max-width: #{map-get($breakpoints,'sm')}px)",
  md: "screen and (max-width: #{map-get($breakpoints,'md')}px)",
  lg: "screen and (max-width: #{map-get($breakpoints,'lg')}px)",
  xl: "screen and (max-width: #{map-get($breakpoints,'xl')}px)",
);

// @include mq(){}で書くとブレークポイントが反映される（初期値はmd）
//@mixin mq($mediaquery: md) {
@mixin sm($mediaquery: sm) {
  @media #{map-get($mediaquerys, $mediaquery)} {
    @content;
  }
}
@mixin mq($mediaquery: md) {
  @media #{map-get($mediaquerys, $mediaquery)} {
    @content;
  }
}
@mixin lg($mediaquery: lg) {
  @media #{map-get($mediaquerys, $mediaquery)} {
    @content;
  }
}
@mixin xl($mediaquery: xl) {
  @media #{map-get($mediaquerys, $mediaquery)} {
    @content;
  }
}


// remへの計算式（16pxを基準としている。10pxを基準とする場合は16を10に変更する）
@function rem($pixels) {
  @return math.div($pixels, 16) * 1rem;
}

@function vwPC($pixels, $base: 1440) {
  @return math.div($pixels, $base) * 100vw;
}

html body .sp {
  display: none;
  @include mq(){
    display: block ;
  }
}

//モバイルのみ表示
html body .pc{
  display: block;
  @include mq{
    display: none;
  }
}

body {
  color: $black-01;
  font-family: $base-font-family;
  //font-family: 'Noto Sans JP', sans-serif;
}
h1,h2,h3,h4 {
  font-weight: 500;
}

.en {
  font-family: $English-font-family-01;
}
.en2 {
  font-family: $English-font-family-02;
}
