@use "global" as *;
.p-section__member {
  .l-banner {
    padding-bottom: rem(205);
    @include mq {
      padding-bottom: rem(140);
    }
  }
  .p-member__list {
    padding-bottom: rem(112);
    @include mq {
      padding-bottom: rem(80);
    }
    &__card {
      display: block;
      transition: all 0.3s;
      filter: brightness(1);
      &:hover {
        filter: brightness(1.1);
        img {
          width: 105%;
          max-width: 105%;
        }

      }
    }
  }
  .p-member__list__card-wrap {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: rem(40);
    width: 100%;
    padding-bottom: rem(60);
    @include mq {
      grid-template-columns: repeat(2, 1fr);
      gap: rem(40) rem(20);
    }
  }

  .p-member__list__card-image {
    overflow: hidden;
    aspect-ratio: 254 / 320;
    position: relative;
    border-radius: rem(5);
    img {
      width: 100%;
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%,-50%);
      transition: all 0.7s;
    }
  }
  .p-member__list__card-content {
    color: $white;
    display: grid;
    gap: rem(8);
    margin-top: rem(16);
    @include mq {
      gap: rem(5);
      margin-top: rem(12);
    }
  }
  .p-member__list__card-name {
    font-size:  clamp(16px, rem(18), 18px);
    @include mq {
      font-size:  clamp(13px, rem(14), 14px);
    }
  }
  .p-member__list__card-kana {
    font-size:  clamp(12px, rem(14), 14px);
    @include mq {
      font-size: 11.28px;
    }
  }
  .p-member__list__card-position {
    font-size:  clamp(12px, rem(14), 14px);
    @include mq {
      font-size: 11.28px;
    }
  }
  .p-member__list__card__modal {
    display: none;
    background-color: $white;
    border-radius: 0 rem(20) 0 0;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 82.9vw;
    height: calc(100% - rem(35));
    z-index: 100;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 14.5%;
    padding-right: 13.6%;
    @include mq {
      width: 90vw;
      height: calc(100% - rem(28));
      padding: rem(80);
      align-items: start;
      overflow-y: scroll;
    }
     @include sm {
      padding-left: rem(20);
      padding-right: rem(20);
    }
    &__close {
      position: absolute;
      top: rem(30);
      right: rem(30);
      background: rgba(2, 17, 45, 0.1);
      border: 1px solid rgba(2, 17, 45, 0.2);
      border-radius: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      width: rem(58);
      height: rem(58);
      @include mq {
        top: rem(20);
        right: rem(20);
        width: rem(46);
        height: rem(46);
      }
      &::before, &::after {
        content: '';
        display: block;
        width: rem(22);
        height: 1px;
        left: 50%;
        background-color: $color01;
        position: absolute;
        @include mq {
          width: rem(17);
        }
      }
      &::before {
        transform: translateX(-50%) rotate(45deg);
      }
      &::after {
        transform: translateX(-50%) rotate(-45deg);
      }
    }
    &__inner {
      display: flex;
      align-items: center;
      column-gap: rem(50);
      @include mq {
        flex-direction: column;
        row-gap: rem(25);
      }
    }
    img {
      max-width: rem(272);
    }
    &__content {
      .name {
        font-size: rem(28);
        letter-spacing: .1em;
        line-height: 1.4;
        @include mq {
          font-size: rem(22);
        }
        .en2 {
          display: block;
          margin-top: rem(8);
          font-size: rem(18);
          letter-spacing: .04em;
          @include mq {
            margin-top: rem(6);
            font-size:  clamp(12px, rem(14), 14px);
          }
        }
      }
      .position {
        font-size: 12px;
        letter-spacing: .1em;
        margin-top: rem(8);
        @include mq {
          margin-top: rem(6);
          font-size: 11px;
        }
      }
      .sns {
        display: flex;
        column-gap: rem(5);
        margin-top: rem(24);
        @include mq {
          margin-top: rem(19);
        }
        a {
          display: block;
          width: 14px;
          height: 14px;
          @include mq {
            width: 12px;
            height: 12px;
          }
        }
      }
      .txt {
        margin-top: rem(24);
        line-height: 1.4;
        letter-spacing: .1em;
        font-size:  clamp(12px, rem(14), 14px);
        @include mq {
          margin-top: rem(19);
        }
        p + p {
          margin-top: 1em;
        }
      }
    }
  }
}
