@use "global" as *;

/**
ヘッダー header
----------------------------------------------**/
.l-header {
  width: calc(100% - rem(160));
  height: rem(100);
  position: fixed;
  box-sizing: border-box;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  z-index: 11;
  padding-top: rem(20);
  padding-bottom: rem(20);
  &__inner {
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
    //background: rgba(255, 255, 255, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(10px);
    border-radius: 10px;
    padding: rem(19) rem(30);
  }
  &__bar {
    width: rem(70);
    height: rem(50);
    background: linear-gradient(48deg, rgba(123, 196, 241, 0.80) -5.62%, rgba(90, 180, 181, 0.80) 100%);
    margin: 0 0 0 auto;
    display: flex;
    align-items: center;
    place-content: center;
    &__inner {
      display: grid;
      gap: rem(8);
      place-content: center;
    }
    span {
      width: rem(35);
      height: rem(1);
      background: $white;
      display: block;
      transition: all 0.3s;
    }
  }
  &__logo {
    width: rem(134);
    transition: all 0.3s;
    &:hover {
      opacity: 0.7;
    }
  }
  &.is-open {
    .l-header__logo {
      opacity: 0;
      transition-delay: 0.2s;
    }
    .l-header__bar span {
      transform-origin: center;
      &:nth-child(1) {
        transform: rotate(20deg);
        position: relative;
        top: rem(4);
      }
      &:nth-child(2) {
        transform: rotate(-20deg);
        position: relative;
        top: rem(-5);
      }
    }
  }


  // PC時のメニュー
  &__list {
    font-size:  clamp(13px, rem(14), 14px);
    color: $white;
    font-weight: $bold;
    line-height: 1;
    margin: 0;
    margin: 0 0 0 auto;
    display: flex;
    &>li {
      transition: all 0.2s;
      float: left;
      position: relative;
      @include mq(lg) {
        margin: 0 rem(20);
      }
      &:not(:last-child) {
        margin-right: rem(34);
      }
      a {
        position: relative;
        display: inline-block;
        text-align: center;
        padding-bottom: 0;
        transition: all 0.3s;
        &:hover {
          opacity: 0.6;
          &::before {
            opacity: 1;
          }
        }
        small {
          display: block;
          font-size: rem(10);
          margin-top: rem(10);
          text-align: center;
          line-height: 1.5;
        }
      }
    }
  }
}
//midnight js用
.l-header__inner {
  height: rem(60) !important;
  top: rem(20) !important;
}
.midnightInner {
  display: flex;
  align-items: center;
  padding: 0 rem(30)
}
.midnightHeader.default {
  .midnightInner {
    background: rgba(255, 255, 255, 0.1);
  }
}
.midnightHeader.black {
  .midnightInner {
    background: rgba($black-01, 0.2);
  }
}


/**
オフカンバスメニュー
----------------------------------------------**/
.l-offcanvas {
  background: linear-gradient(48deg, rgba(95, 175, 225, 0.90) -5.62%, rgba(123, 196, 241, 0.90) 100%);
  position: fixed;
  top: 0;
  right: -100%;
  transition: all 0.5s;
  color: $white;
  z-index: 10;
  overflow-y: auto;
  padding: rem(140) 0;
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  place-content: center;
  &__list {
    display: grid;
    gap: rem(60);
    place-content: center;
    text-align: center;
    a {
      display: grid;
      font-size: rem(28);
      small {
        margin-top: rem(10);
        font-size: rem(13);
      }
    }
  }
  &.is-open {
    right: 0;
  }
}


/**
footer
----------------------------------------------**/
.l-footer {
  background: $black-01;
  border-top: 1px solid $color02;
  position: relative;
  .l-footer__inner {
    //padding: 0 rem(80);
  }
  .l-footer__menu {
    display: flex;
    align-items: center;
    place-content: space-between;
    padding: rem(40) rem(80) 0;
    .l-footer__logo {
      width: rem(167);
      transition: all 0.3s;
      &:hover {
        opacity: 0.7;
      }
      img {
        width: rem(167);
      }
    }
  }
  .l-footer__menu__list {
    width: calc(100% - rem(167));
    ul {
      display: flex;
      place-content: end;
      gap: clamp(vwPC(85), vwPC(85), 85px);;
      @include lg {
        gap: vwPC(50);
      }
      li {
      }
      a {
        color: $white;
        font-size: clamp(13px, rem(16), 16px);
        white-space: nowrap;
        transition: all 0.3s;
        &:hover {
          opacity: 0.6;
        }
      }
    }
  }
  .l-footer__link {
    display: flex;
    place-content: space-between;
    padding: rem(250) rem(80) rem(28);
    .l-footer__link-01 {
      display: flex;
      gap: rem(25);
      a {
        font-family: $English-font-family-02;
        color: $white;
        font-size: clamp(12px, rem(14), 14px);
        display: flex;
        align-items: center;
        gap: vwPC(6);
        transition: all 0.3s;
        &:hover {
          opacity: 0.6;
        }
        .icon-window {
          width: 11.701px;
          height: 11.827px;
          fill: currentColor;
        }
      }
    }
    .l-footer__link-02 {
      display: flex;
      gap: vwPC(24);
      .icon-sns {
        width: rem(18);
        height: rem(18);
      }
    }
  }

  .l-footer__copy {
    display: flex;
    color: $white;
    place-content: space-between;
    border-top: 1px solid $color02;
    padding: rem(20) 0;
    p {
      font-size: 11px;
      padding-left: rem(80);
    }
    &__link {
      font-size: 12px;
      padding-right: rem(80);
    }
  }
}

/**
ページトップ l-pagetop
----------------------------------------------**/
.l-pagetop {
  display: block;
  width: rem(62);
  height: rem(62);
  position: absolute;
  right: rem(40);
  top: rem(-40);
  transition: all 0.3s;
  filter: brightness(1);
  &:hover {
    //opacity: 0.7;
    filter: brightness(1.5);
  }
}

// 共通セクション
.inner {
  width: calc(rem(1145) + rem(160));
  max-width: 100%;
  padding-left: rem(80);
  padding-right: rem(80);
  margin: 0 auto;
  @include xl {
    width: 100%;
  }
  @include sm {
    padding: 0 rem(20);
  }
}
.l-inner {
  width: rem(1440);
  max-width: 100%;
  padding-left: rem(80);
  padding-right: rem(80);
  margin: 0 auto;
  @include sm {
    padding: 0 rem(20);
  }
}

// 共通パーツ（タイトル・テキスト）
.c-ttl-01 {
  text-align: center;
  font-size:  clamp(30px, rem(55), 55px);
  margin-bottom: rem(60);
  display: flex;
  align-items: center;
  gap: rem(15);
  color: $color01;
  span:not(.en2) {
    height: 1px;
    background: rgba($color01,0.5);
    width: rem(50);
  }
  .en2 {
    font-size:  clamp(10px, rem(14), 14px);
    left: rem(8);
    position: relative;
  }
  &.c-color-white {
    color: $white;
    span:not(.en2) {
      background: rgba($white,0.5);
    }
  }
}
.c-ttl-text {
  font-size:  clamp(14px, rem(16), 16px);
  color: $white;
  padding-bottom: rem(60);
  line-height: 1.75;
}

.c-btn-01 {
  border: 1px solid $black-01;
  border-radius: rem(15);
  font-size:  clamp(14px, rem(16), 16px);
  color: $black-01;
  font-weight: $medium;
  display: inline-flex;
  align-items: center;
  padding: rem(14) rem(40);
  transition: all 0.3s;
  filter: brightness(1);
  &:hover {
    opacity: 0.7;
    filter: brightness(2);
    img {
      left: rem(4);
    }
  }
  img {
    width: rem(14);
    height: rem(14);
    margin-left: rem(10);
    position: relative;
    left: rem(0);
    transition: all 0.3s;
  }
}
.c-ttl__wrap {
  display: flex;
  place-content: space-between;
  align-items: center;
  padding-bottom: rem(60);
  .c-ttl-01 {
    margin-bottom: 0;
  }
}

.section-txt {
  text-align: center;
  font-size: rem(13);
}




/**
共通アニメーション
----------------------------------------------**/
.js__fadein { //スクロールしたらふわふわ出てくる
  opacity: 0;
  position: relative;
  -webkit-transform: translate(0px, 20px);
  transform: translate(0px, 20px);
  transition: all .5s;
}
@keyframes blurAnime-main{
  from {
  filter: blur(20px);
  }
  to {
  filter: blur(0);
  }
}
@keyframes bgAnime{
  from {
    margin-top: -100%;
  }
  to {
  margin-top: 0%;
  }
}
@keyframes bgImage{
  from {
    opacity: 0;
    filter: blur(20px);
  }
  to {
  opacity: 1;
  filter: blur(0);
  }
}

/**
お問い合わせはこちら
----------------------------------------------**/
.l-contact__parts {
  //position: fixed;
  z-index: 3;
  position: absolute;
  right: 0;
  top: rem(-64.5);
  font-size:  clamp(14px, vwPC(16), 16px);
  font-weight: $bold;
  background: $color03;
  color: $white;
  bottom: 0;
  display: flex;
  place-content: center;
  gap: rem(20);
  align-items: center;
  width: rem(211);
  height: rem(129);
  border-radius: rem(23);
  line-height: 2;
  transition: all 0.3s;
  filter: brightness(1);
  &:hover {
    filter: brightness(1.3);
  }
  img {
    width: rem(22);
    height: rem(22);
  }
}


/**
スライダー slider
----------------------------------------------**/
// スライダー（swiper使用）
.section-slider {
  margin-left: rem(24);
  .swiper {
    margin-top: rem(40);
  }
  .slides-wrapper {
    padding-bottom: rem(50);
  }
  .swiper-pagination-bullet {
    width: rem(35);
    height: rem(4);
    border-radius: 9999px;
    background: $white;
    opacity: 1;
    &.swiper-pagination-bullet-active {
      background: $color01;
    }
  }
  .swiper-button-next {
    width: rem(58);
    height: rem(58);
    border-radius: 100%;
    margin-top: rem(-30);
    background-image: url(../images/common/arrow-circle.svg);
    right: vwPC(60);
    &::after {
      content: none;
    }
  }
}
// サムネイルスライダー
.swiper {
  display: flex;
}
.swiper-container {
  width: 100%;
  //スライダー
  &.slider {
    // height: 80vh;
    overflow: hidden;
    position: relative;
  }
  //サムネイル
  &.swiper-wrapper-thumbnail {
    display: flex;
    flex-direction: column;
  }
  &.slider-thumbnail {
    height: 20vh;
    .swiper-wrapper {
      width: 25%;
      height: 38%;
      display: flex;
      flex-direction: column;

      .swiper-slide {
        width: 25%;
        height: 100%;
        opacity: .5;
        overflow: hidden;

        &.swiper-slide-thumb-active {
          opacity: 1;
        }
      }
    }
  }
}
.swiper-button-prev, .swiper-rtl .swiper-button-next {
  left: rem(20);
  right: auto;
}

.swiper-button-prev:after, .swiper-rtl .swiper-button-next:after {
  content: 'prev';
  width: 20px;
  height: 20px;
  border-top: 1px solid #333;
  border-left: 1px solid #333;
  transform: translate(-50%,-50%) rotate(-45deg);
}
.swiper-button-next:after, .swiper-rtl .swiper-button-prev:after {
  content: 'next';
  width: 20px;
  height: 20px;
  border-top: 1px solid #333;
  border-right: 1px solid #333;
  transform: translate(-50%,-50%) rotate(45deg);
}


/**
導入事例カード
----------------------------------------------**/
.l-card__list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: rem(40);
  width: 100%;
}
.card {
  display: grid;
  gap: rem(12);
  &:hover {
    img {
      filter: brightness(1.1);
      width: 105%;
      max-width: 105%;
    }
  }
}
.card-image {
  aspect-ratio: 310 / 425;
  position: relative;
  border-radius: rem(10);
  overflow: hidden;
  img {
    aspect-ratio: 310 / 425;
    width: 100%;
    object-fit: cover;
    border-radius: rem(10);
    filter: brightness(1);
    transition: all 0.75s;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
  }
  &__tag {
    background: $black-01;
    color: $white;
    font-size:  clamp(12px, rem(16), 16px);
    position: absolute;
    bottom: rem(20);
    right: rem(20);
    padding: rem(10) rem(15);
    border-radius: rem(5);

  }
}
.card-title {
  font-size:  clamp(14px, rem(16), 16px);
  font-weight: $bold;
}
.card-content {
  font-size:  clamp(13px, rem(14), 14px);
  line-height: 1.75;
}
.card-tag {
  font-size:  clamp(12px, rem(14), 14px);
  display: flex;
  flex-wrap: wrap;
  gap: rem(12);
  span {
    background: $color04;
    padding: rem(3) rem(14) rem(1);
    border-radius: rem(20);
    white-space: nowrap;
  }
}

/**
セミナーカード
----------------------------------------------**/
.l-card__list-lands {
  grid-template-columns: repeat(3, 1fr);
  .card-lands {
    color: $white;
  }
  .card-image {
    aspect-ratio: 354 / 198;
    margin-bottom: rem(3);
    position: relative;
    overflow: hidden;
    img {
      aspect-ratio: 354 / 198;
    }
  }
  .card-title {
    font-weight: $normal;
  }
  .card-content {
    font-size:  clamp(12px, rem(12), 12px);
  }
  .card-tag {
    span {
      color: $black-01;
      font-size: 11px;
    }
  }
  .card-button {
    margin-top: rem(8);
    a {
      color: $white;
      padding: rem(12) rem(30);
      border: 1px solid $white;
      border-radius: rem(10);
      display: inline-flex;
      gap: rem(10);
      font-size: 12px;
      img {
        position: relative;
        left: 0;
        transition: all 0.3s;
      }
      &:hover {
        img {
          left: rem(4);
        }
      }
    }
  }
}


/**
フッダー/ダウンロード・CONTACTリンク
----------------------------------------------**/
.l-link__bottom {
  background: $black-01;
  &__inner {
    display: grid;
    grid-template-columns: calc(50% - rem(24)) calc(50% - rem(24));
    gap: rem(48);
  }
  a {
    display: grid;
    align-items: center;
    aspect-ratio: 560 / 380;
    color: $white;
    text-align: center;
    transition: all 0.7s;
    background-position: center;
    border-radius: rem(15);
    overflow: hidden;
    filter: brightness(1);
    &:nth-child(1) {
      background-image: url(../images/common/link-bg01.png);
      background-size: 100%;
      width: 100%;
      height: 100%;
    }
    &:nth-child(2) {
      background-image: url(../images/common/link-bg02.png);
      background-size: 100%;
      width: 100%;
      height: 100%;
    }
    &:hover {
      background-size: 105%;
      filter: brightness(1.4);
    }
    h4 {
      display: block;
      font-size:  clamp(25px, rem(40), 40px);
      margin-bottom: rem(18);
      small {
        display: block;
        font-size:  clamp(16px, rem(20), 20px);
        font-weight: $normal;
        margin-top: rem(10);
      }
    }
    p {
      font-size:  clamp(14px, rem(16), 16px);
    }
  }
}

/**
forestバナー
----------------------------------------------**/
.l-banner {
  padding: rem(125) 0;
  background: $black-01;
  &__block {
    background: $color04;
    padding: rem(70) rem(60) rem(80);
    position: relative;
    //aspect-ratio: 1145 / 338;
    overflow: hidden;
    border-radius: rem(15);
    display: grid;
    align-items: center;
    &__content {
      width: rem(420);
      max-width: 45%;
      font-size:  clamp(14px, rem(16), 16px);
      line-height: 1.75;
    }
    img:not(.l-banner__bg) {
      width: rem(102);
      margin-bottom: rem(35);
    }
    .l-banner__bg {
      position: absolute;
      right: 0;
      top: 0;
      width: rem(612);
      height: 100%;
      max-width: 54%;
    }
  }
}

/**
ニュース l-news
----------------------------------------------**/

.l-news__list {
  background: $white;
  margin-left: calc((100% - rem(1145)) / 2);
  padding: rem(100) rem(65);
  border-radius: rem(20) 0 0 rem(20);
  @include xl {
    margin-left: rem(80);
  }
  .l-news__list__inner a {
    padding: rem(30) rem(0);
    display: block;
    border-bottom: 1px solid $color05;
    max-width: rem(970);
    color: $color01;
    font-size:  clamp(14px, rem(16), 16px);
    position: relative;
    transition: all 0.3s;
    &:first-of-type {
      border-top: 1px solid $color05;
    }
    &:hover {
      opacity: 0.7;
      &::after {
        right: rem(20);
      }
    }
    dl {
      display: flex;
      padding: 0 rem(60) 0 rem(24);
      gap: rem(24);
      dt {
        font-weight: $medium;
      }
    }
    &::after {
      content: "";
      background: url(../images/common/arrow.svg);
      background-repeat: no-repeat;
      background-size: 100%;
      width: rem(14);
      height: rem(14);
      position: absolute;
      right: rem(24);
      top: 50%;
      transform: translate(-0%, -50%);
      transition: all 0.3s;
    }
  }
}



/**
アコーディオン
----------------------------------------------**/
.section-accordion {
  margin-top: rem(40);
  @include mq {
    margin-top: rem(50);
  }
  &__ttl {
    background-color: $color02;
    padding: rem(15) rem(40) rem(15) rem(15);
    position: relative;
    cursor: pointer;
    font-weight: bold;
    &::before {
      position: absolute;
      content: "";
      display: block;
      width: rem(10);
      height: rem(2);
      background-color: $white;
      right: rem(15);
      top: 50%;
      transform: translate(0, -50%);
    }
    &::after {
      position: absolute;
      content: "";
      display: block;
      width: rem(10);
      height: rem(2);
      background-color: $white;
      right: rem(15);
      top: 50%;
      transform: translate(0, -50%) rotate(90deg);
      transition: all .3s;
    }
    &.active {
      &::after {
        transform: translateY(-50%) rotate(0);
      }
    }
    &.question {
      span {
        &::before {
          content:'Q.';
          color: $color04;
          font-size: rem(20);
          font-weight: bold;
          margin-right: .5em;
        }
      }
    }
  }
  &__content {
    background-color: $white;
    display: none;
    padding: 15px;
    &.answer {
      &::before {
        content:'A.';
        color: $color04;
        font-size: rem(20);
        font-weight: bold;
        margin-right: .5em;
      }
    }
  }
}

/**
下層ページ共通
----------------------------------------------**/
.p_section__lower {
  padding-top: rem(165);
}

/**
ページャー
----------------------------------------------**/
.nav-links {
  color: $white;
  .page-numbers {
    display: flex;
    place-content: center;
    gap: rem(15);
    li {
      width: rem(28);
      height: rem(28);
      display: flex;
      align-items: center;
      place-content: center;
      .page-numbers {
        display: flex;
        align-items: center;
        place-content: center;
        font-size: 13px;
        &.current {
          background: $white;
          color: $black-01;
          width: 100%;
          height: 100%;
          border-radius: 100%;
        }
      }
      &.disabled {
        align-items: flex-end;
        display: flex;
        span {
          align-items: flex-end;
          display: flex;
        }
      }
    }
  }
}




/**
selectbox  セレクトボックス
----------------------------------------------**/
.l-selectbox {
  position: relative;
}
.l-selectbox::before,
.l-selectbox::after {
  position: absolute;
  content: '';
  pointer-events: none;
}
.l-selectbox::before {
  right: 0;
  display: inline-block;
  width: rem(45);
  height: rem(40);
  border-radius: rem(5);
  background-color: $white;
  content: '';
}
.l-selectbox::after {
  position: absolute;
  top: 50%;
  right: 1.4em;
  transform: translate(50%, -50%) rotate(45deg);
  width: 6px;
  height: 6px;
  border-bottom: 1.5px solid $black-01;
  border-right: 1.5px solid $black-01;
  content: '';
}
.l-selectbox select {
  background: $white;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  height: 40px;
  padding: rem(8) rem(45) rem(8) rem(20);
  border-radius: rem(5);
  color: $black-01;
  font-size:  clamp(16px, rem(18), 18px);
  cursor: pointer;
}

.l-selectbox select:focus {
  outline: 1px solid #2589d0;
}
