@use "global" as *;

/**
serviceページ共通ブロック
----------------------------------------------**/
.l-page-head {
  margin-bottom: rem(101);
  @include mq {
    margin-bottom: rem(60);
  }
  &__menu {
    margin-top: rem(77);
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: rem(40);
    @include mq {
      grid-template-columns: repeat(2, 1fr);
      gap: rem(20);
      margin-top: rem(20);
    }
    &__item {
      border-radius: rem(15);
      border: 1px solid rgba(255, 255, 255, 0.2);
      background-color: rgba(255, 255, 255, 0.1);
      padding: rem(34);
      @include mq {
        padding: rem(15) rem(40);
      }
      a {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: rem(15);
        color: $white;
        @include mq {
          gap: rem(8);
        }
        &:hover {
          img {
            transform: translateY(3px);
          }
        }
      }
      .en2 {
        font-size:  clamp(12px, rem(14), 14px);
        letter-spacing: .04em;
        @include mq {
          font-size:  clamp(10px, rem(10), 10px);
        }
      }
      .ttl {
        font-weight: bold;
        font-size:  clamp(14px, rem(16), 16px);
        @include mq {
          font-size:  clamp(10px, vwSP(11), 14px);
        }
      }
      img {
        width: 7px;
        transition: all .3s;
      }
    }
  }
}

// 特徴・強み
.c-block-strength {
  background-color: $white;
  border-radius: rem(15);
  padding: rem(71) rem(106) rem(84);
  color: $color01;
  @include mq {
    padding: rem(40) rem(20) rem(40);
  }
  &__ttl-01 {
    display: flex;
    align-items: center;
    column-gap: rem(12);
    font-size: rem(18);
    letter-spacing: .04em;
    @include mq {
      font-size:  clamp(14px, rem(14), 14px);
    }
    &::before {
      content: '';
      width: rem(16);
      height: rem(16);
      display: inline-block;
      background: #02112D;
    }
  }
  &__ttl-02 {
    margin-top: rem(37);
    font-size:  clamp(22px, rem(28), 28px);
    line-height: 1.4;
    letter-spacing: .04em;
    @include mq {
      font-size:  clamp(16px, rem(18), 18px);
      margin-top: rem(27);
    }
  }
  &__txt {
    margin-top: rem(30);
    letter-spacing: .06em;
    line-height: 1.6;
    font-size:  clamp(14px, rem(16), 16px);
    @include mq {
      margin-top: rem(20);
    }
  }
  &__list {
    margin-top: rem(50);
    counter-reset: number 0;
    &__item {
      background-color: rgba(10, 16, 28, 0.1);
      border-radius: rem(15);
      padding: rem(62) rem(80);
      min-height: rem(270);
      display: flex;
      justify-content: space-between;
      align-items: center;
      letter-spacing: .06em;
      gap: rem(25);
      @include mq {
        display: grid;
        padding: rem(55) rem(24);
        gap: rem(17);
      }
      &__ttl {
        line-height: 1.4;
        font-weight: bold;
        white-space: nowrap;
        font-size:  clamp(14px, rem(16), 16px);
        &::before {
          counter-increment: number 1;
          content: counter(number, decimal-leading-zero)".";
          font-family: $English-font-family-01;
          font-size:  clamp(18px, rem(20), 20px);
          display: block;
          font-weight: normal;
          margin-bottom: rem(20);
          @include mq {
            font-size:  clamp(18px, rem(22), 22px);
          }
        }
      }
      p {
        max-width: rem(420);
        line-height: 1.8;
        font-size:  clamp(14px, rem(16), 16px);
        @include mq {
          font-size:  clamp(12px, rem(12), 12px);
        }
      }
      + .c-block-strength__list__item {
        margin-top: rem(34);
      }
    }
  }
}

// 内容
.c-block-content {
  margin-top: rem(138);
  @include mq {
    margin-top: rem(60);
  }
  &__head {
    display: flex;
    align-items: start;
    justify-content: space-between;
    padding: 0 rem(40);
    gap: rem(20);
    @include mq {
      display: grid;
      gap: rem(40);
      grid-template-columns: 100%;
      padding: 0 rem(0);
    }
  }
  &__ttl-01 {
    width: rem(117);
    min-width: 100px;
    @include mq {
      width: rem(99);
      min-width: auto;
    }
  }
  &__menu {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr 1fr;
    gap: rem(10);
    @include mq {
      grid-template-columns: repeat(2, 1fr);
    }
    &__item {
      border-radius: rem(10);
      border: 1px solid rgba(255, 255, 255, 0.2);
      background-color: rgba(255, 255, 255, 0.1);
      padding: rem(13) rem(43);
      @include mq {
        padding: rem(13) rem(0);
        border-radius: rem(6);
      }
      a {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        height: 100%;
        gap: rem(10);
        color: $white;
        font-size:  clamp(13px, rem(14), 14px);
        letter-spacing: .06em;
        white-space: nowrap;
        @include mq {
          font-size:  clamp(10px, rem(11), 11px);
        }
        br {
          @include mq {
            display: none;
          }
        }
        &:hover {
          img {
            transform: translateY(3px);
          }
        }
        img {
          width: 8px;
          transition: all .3s;
        }
      }
    }
  }
  &__list {
    margin-top: rem(52);
    padding-bottom: rem(110);
    border-top: 1px solid $color02;
    @include mq {
      border-top: 0;
      margin-top: rem(30);
      padding-bottom: rem(50);
    }
    &__item {
      padding: rem(40);
      border-bottom: 1px solid $color02;
      display: flex;
      align-items: center;
      column-gap: rem(40);
      color: $white;
      @include mq {
        display: grid;
        padding: rem(30) rem(0);
        border-bottom: 0;
      }
      figure {
        width: rem(260);
        min-width: 100px;
        @include mq {
          width: 100%;
          margin-bottom: rem(15);
        }
      }
      &__right {
        max-width: rem(764);
        letter-spacing: .1em;
      }
      &__ttl {
        //font-size: rem(20);
        font-size:  clamp(17px, rem(20), 20px);
        line-height: 1.4;
        letter-spacing: .1em;
        @include mq {
          font-size:  clamp(16px, rem(18), 18px);
        }
      }
      &__txt {
        margin-top: rem(16);
        //font-size: rem(12);
        font-size: 12px;
        line-height: 1.6;
      }
      &__tag {
        margin-top: rem(16);
        display: flex;
        column-gap: rem(12);
        //font-size: rem(11);
        font-size:  clamp(10px, rem(11), 11px);
        line-height: 1.4;
        @include mq {
          display: grid;
          grid-template-columns: repeat(2, 1fr);
          gap: rem(10);
          font-size: 12px;
        }
        li {
          border: 1px solid $white;
          border-radius: rem(5);
          padding: rem(16) rem(20);
          min-width: rem(126);
          text-align: center;
          font-weight: bold;
          white-space: nowrap;
        }
      }
    }
  }
}

// FAQ
.c-block-faq {
  padding-top: rem(100);
  padding-bottom: rem(130);
  @include mq {
    padding-top: rem(60);
    padding-bottom: rem(70);
  }
  &__wrapper {
    background-color: $white;
    border-radius: rem(15);
    padding: rem(100) rem(108);
    color: $color01;
    font-size:  clamp(13px, rem(14), 14px);
    line-height: 1.4;
    letter-spacing: .06em;
    @include mq {
      padding: rem(50) rem(20);
    }
  }
}
.c-accordion {
  display: grid;
  gap: rem(24);
  &__ttl {
    background-color: $color04;
    padding: rem(20) rem(88) rem(20) rem(23);
    position: relative;
    cursor: pointer;
    border-radius: 5px 5px 0 0;
    @include mq {
      font-size: 12px;
      padding: rem(10) rem(50) rem(18) rem(20);
    }
    &::before {
      position: absolute;
      content: "";
      display: block;
      width: rem(17);
      height: 1px;
      background-color: $color01;
      right: rem(15);
      top: 50%;
      transform: translate(0, -50%);
      @include mq {
        width: rem(13);
      }
    }
    &::after {
      position: absolute;
      content: "";
      display: block;
      width: rem(17);
      height: 1px;
      background-color: $color01;
      right: rem(15);
      top: 50%;
      transform: translate(0, -50%) rotate(90deg);
      transition: all .3s;
      @include mq {
        width: rem(13);
      }
    }
    &.active {
      &::after {
        transform: translateY(-50%) rotate(0);
      }
      &+.c-accordion__content {
        display: flex !important;

      }
    }
    span {
      display: flex;
      align-items: baseline;
    }
    &.question {
      span {
        &::before {
          content:'Q.';
          color: $color03;
          font-size: rem(24);
          letter-spacing: .04em;
          margin-right: rem(20);
          position: relative;
          top: rem(5);
          font-family: $English-font-family-02;
          @include mq {
            font-size: 20px;
            margin-right: rem(10);
          }
        }
      }
    }
  }
  &__content {
    background-color: $white;
    display: none;
    padding: rem(20) rem(88) rem(20) rem(23);
    border: 1px solid $color04;
    border: 0 0 5px 5px;
    @include mq {
      font-size: 12px;
    }
    &.answer {
      span {
        display: flex;
        &::before {
          content:'A.';
          color: $color03;
          font-family: $English-font-family-02;
          font-size: rem(24);
          margin-right: rem(19);
          position: relative;
          top: rem(-5);
          @include mq {
            font-size: 20px;
            margin-right: rem(10);
          }
        }
      }
    }
  }
}


.p-section__casestudy {
  .l-logo__list {
    margin-bottom: rem(100);
  }
  .l-card__list__btn {
    margin-top: rem(60);
    display: grid;
    place-content: center;
  }
}

.c-block-relatedcompanies {
  background: $white;
  padding: rem(100) 0 rem(100);
  @include mq {
    padding: rem(80) 0 rem(80);
  }
    .l-logo__list {
      margin-bottom: 0;
    }
}

.l-banner__solution+.l-link__bottom {
  padding-top: rem(110);
}
