@use "global" as *;
body {
  background-color: $color01;
  background-image: url('../images/common/bg-bar.svg');
  background-repeat: repeat-y;
  background-position: center;
}
.p-section {
  //max-width: 750px;
}
.p-bg {

}
.p-section-keyvisual {
  position: relative;
  overflow: hidden;
  aspect-ratio: 2880 / 1740;
  &__img {
    width: 100vw;
    inset: 0 auto 0 0;
    color: $black-01;
    overflow: hidden;
    position: absolute;
    z-index: 2;
  }
  &__content {
    position: absolute;
    inset: 0;
    display: grid;
    place-content: center start;
    max-width: 48vw;
    margin-left: auto;
    pointer-events: none;
    z-index: 3;
    top: vwPC(-90);

    &__ttl {
      line-height: 1.25;
      font-size:  clamp(35px, vwPC(64), 80px);
      letter-spacing: .05em;
      font-weight: $medium;
      white-space: nowrap;
      text-align: right;
      span {
        color: $black-01;
      }
    }
    &__txt {
      margin-top: .8em;
      font-size:  clamp(18px, vwPC(22), 30px);
      line-height: 1.7;
      letter-spacing: .06em;
      text-align: right;
      span {
        color: $black-01;
      }
    }
    &__btn {
      background: $white;
      color: $black-01;
      display: inline-flex;
      font-weight: $bold;
      font-size:  clamp(14px, vwPC(18), 20px);
      align-items: center;
      gap: rem(20);
      width: rem(222);
      height: rem(76);
      place-content: center;
      border-radius: rem(10);
      margin: rem(30) 0 0 auto;
      img {
        width: rem(20);
        height: rem(20);
      }
    }
    /* ―― 色の見せ分け ―― */
    /* 白：画像領域（左側）だけを表示 */
    &.color-white{
      color: #fff;
    }

    /* 黒：画像外（右側）だけを表示 */
  }

  .p-section-keyvisual__images {
  width: vwPC(967);
  display: flex;
  position: relative;
  z-index: 1;

  .slide {
    display: flex;
    gap: rem(25);
    width: 100%;

    .slide-wrap {
      width: 50%;

      &.bottom {
        justify-content: flex-end;

        ul {
          animation: slide-flow-bottom 25s linear infinite;
        }
      }

      &.top {
        ul {
          animation: slide-flow 25s linear infinite;
        }
      }

      ul {
        display: flex; // gridではなくflexに変更
        flex-direction: column-reverse;
        padding: 0;
        margin: 0;
        list-style: none;
        gap: rem(30);
        will-change: transform;
        backface-visibility: hidden;
        transform: translateZ(0);
      }
    }
  }
}

}

@keyframes slide-flow {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(calc(-100% - rem(30)));
  }
}

@keyframes slide-flow-bottom {
  0% {
    transform: translateY(calc(-100% - rem(30)));
  }
  100% {
    transform: translateY(0%);
  }
}

// スライダー（swiper使用）
.section-slider {
  margin-left: rem(24);
  .swiper {
    margin-top: rem(40);
  }
  .slides-wrapper {
    padding-bottom: rem(50);
  }
  .swiper-pagination-bullet {
    width: rem(35);
    height: rem(4);
    border-radius: 9999px;
    background: $white;
    opacity: 1;
    &.swiper-pagination-bullet-active {
      background: $color01;
    }
  }
  .swiper-button-next {
    width: rem(39);
    height: rem(39);
    border-radius: 100%;
    background: linear-gradient(60deg, #7BC4F1, #E9C7C6);
    margin-top: rem(-30);
    svg {
      width: rem(10);
      height: rem(13);
    }
  }
}

.p-section__faq {
  padding: rem(60) 0 rem(100);
}

// アコーディオン
.section-accordion {
  margin-top: rem(40);
  @include mq {
    margin-top: rem(50);
  }
  &__ttl {
    background-color: $color02;
    padding: rem(15) rem(40) rem(15) rem(15);
    position: relative;
    cursor: pointer;
    font-weight: bold;
    &::before {
      position: absolute;
      content: "";
      display: block;
      width: rem(10);
      height: rem(2);
      background-color: $white;
      right: rem(15);
      top: 50%;
      transform: translate(0, -50%);
    }
    &::after {
      position: absolute;
      content: "";
      display: block;
      width: rem(10);
      height: rem(2);
      background-color: $white;
      right: rem(15);
      top: 50%;
      transform: translate(0, -50%) rotate(90deg);
      transition: all .3s;
    }
    &.active {
      &::after {
        transform: translateY(-50%) rotate(0);
      }
    }
    &.question {
      span {
        &::before {
          content:'Q.';
          color: $color04;
          font-size: rem(20);
          font-weight: bold;
          margin-right: .5em;
        }
      }
    }
  }
  &__content {
    background-color: $white;
    display: none;
    padding: 15px;
    &.answer {
      &::before {
        content:'A.';
        color: $color04;
        font-size: rem(20);
        font-weight: bold;
        margin-right: .5em;
      }
    }
  }
}



// サムネイルスライダー
.swiper {
  display: flex;
}
.swiper-container {
  width: 100%;



  //スライダー
  &.slider {
    // height: 80vh;
    overflow: hidden;
    position: relative;
  }

  //サムネイル
  &.swiper-wrapper-thumbnail {
    display: flex;
    flex-direction: column;
  }
  &.slider-thumbnail {
    height: 20vh;

    .swiper-wrapper {
      width: 25%;
      height: 38%;
      display: flex;
      flex-direction: column;

      .swiper-slide {
        width: 25%;
        height: 100%;
        opacity: .5;
        overflow: hidden;

        &.swiper-slide-thumb-active {
          opacity: 1;
        }
      }
    }
  }
}


.swiper-button-prev, .swiper-rtl .swiper-button-next {
  left: rem(20);
  right: auto;
}

.swiper-button-prev:after, .swiper-rtl .swiper-button-next:after {
  content: 'prev';
  width: 20px;
  height: 20px;
  border-top: 1px solid #333;
  border-left: 1px solid #333;
  transform: translate(-50%,-50%) rotate(-45deg);
}
.swiper-button-next:after, .swiper-rtl .swiper-button-prev:after {
  content: 'next';
  width: 20px;
  height: 20px;
  border-top: 1px solid #333;
  border-right: 1px solid #333;
  transform: translate(-50%,-50%) rotate(45deg);
}


/* ページネーション */
// .swiper-horizontal>.swiper-pagination-bullets, .swiper-pagination-bullets.swiper-pagination-horizontal, .swiper-pagination-custom, .swiper-pagination-fraction {
//   bottom: -10px;
//   top: var(--swiper-pagination-top, auto);
//   left: auto;
//   width: 100%;
//   position: absolute;
// }
// .swiper-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet,
// .swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet {
//   margin: 0 20px 20px;
// }


:root {
  --logo-gap: 40px;     /* ロゴ間の間隔 */
  --logo-h: 40px;       /* ロゴ高さ */
  --duration: 30s;      /* 流れる速度 */
}
.p-section-achievement {
  background: $color04;
  padding: rem(60) 0;

  &__text {
    font-size:  clamp(18px, rem(26), 26px);
    display: flex;
    gap: vwPC(160);
    place-content: center;
    margin-bottom: rem(30);
    li {
      display: flex;
      align-items: center;
    }
    .en {
      font-size:  clamp(40px, rem(75), 75px);
      color: $color03;
      margin: 0 rem(10);
    }
    small {
      font-size:  clamp(16px, rem(22), 22px);
    }
  }
  .logo-slider {
    overflow: hidden;
    width: 100%;
    max-width: 2000px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
  }

  .logo-track {
    display: flex;
    animation: marquee 30s linear infinite;
    will-change: transform;
  }

  .logo-group {
    flex: 0 0 auto;
    display: flex;
    align-items: center;
    gap: 40px; /* ロゴ間の余白 */
    list-style: none;
    margin: 0;
    padding: 0 20px; /* 両端にも余白を入れるのがポイント */
  }

  .logo-group li {
    flex: 0 0 auto;
  }

  .logo-group img {
    display: block;
    height: auto;
  }

}
@keyframes marquee {
  from { transform: translateX(0); }
  to   { transform: translateX(-50%); } /* ★2グループ分のうち、ちょうど1グループ分だけ動かす */
}

/* SP調整例 */
@media (max-width: 767px) {
  :root { --logo-gap: 24px; --logo-h: 28px; --duration: 24s; }
}


.p-section-service {
  &__block {
    background: $color04;
  }
}
