@use "global" as *;
body {
  background-color: $black-01;
  background-image: url('../images/common/bg-bar.svg');
  background-repeat: repeat-y;
  background-position: center;
}

/**
キービジュアル　p-section-keyvisual
----------------------------------------------**/
.p-section-keyvisual {
  position: relative;
  overflow: hidden;
  aspect-ratio: 2880 / 1740;
  &__img {
    width: 100vw;
    inset: 0 auto 0 0;
    color: $black-01;
    overflow: hidden;
    position: absolute;
    z-index: 2;
  }
  &__content {
    position: absolute;
    inset: 0;
    display: grid;
    place-content: center start;
    max-width: 48vw;
    margin-left: auto;
    //pointer-events: none;
    z-index: 3;
    top: vwPC(-90);
    @include xl {
      top: vwPC(0);
    }
    @include lg {
      top: vwPC(80);
      max-width: vwPC(700);
    }
    &__ttl {
      line-height: 1.25;
      font-size:  clamp(35px, vwPC(64), 80px);
      letter-spacing: .05em;
      font-weight: $medium;
      white-space: nowrap;
      text-align: right;
      span {
        color: $black-01;
      }
    }
    &__txt {
      margin-top: .8em;
      font-size:  clamp(15px, vwPC(22), 30px);
      line-height: 1.7;
      letter-spacing: .06em;
      text-align: right;
      span {
        color: $black-01;
      }
    }
    &__btn {
      background: $white;
      color: $black-01;
      display: inline-flex;
      font-weight: $bold;
      font-size:  clamp(14px, vwPC(18), 20px);
      align-items: center;
      gap: rem(20);
      width: rem(222);
      height: rem(76);
      place-content: center;
      border-radius: rem(10);
      margin: rem(30) 0 0 auto;
      transition: all 0.3s;
      &:hover {
        opacity: 0.9;
      }
      img {
        width: rem(20);
        height: rem(20);
      }
    }
    /* ―― 色の見せ分け ―― */
    /* 白：画像領域（左側）だけを表示 */
    &.color-white{
      color: #fff;
    }
  }
  .p-section-keyvisual__images {
  width: vwPC(967);
  display: flex;
  position: relative;
  z-index: 1;
  }

  /**
  キービジュアル内スライドの設定
  ----------------------------------------------**/
  $gap: 30px;   // 画像間の隙間
  $dur: 25s;    // アニメーション速度
  .slide {
    display: flex;
    gap: 25px;       // 上下の列間の余白
    width: 100%;
  }
  .slide-col {
    width: 50%;
    overflow: hidden; // コンテナ外は非表示に
  }
  .track {
    display: flex;
    flex-direction: column;
    will-change: transform;
    backface-visibility: hidden;
    transform: translate3d(0,0,0);
    animation: marqueeY $dur linear infinite;
  }
  .slide-col[data-dir="reverse"] .track {
    animation-direction: reverse; // 下段は逆方向に
  }
  .list {
    display: grid;
    row-gap: $gap;
    margin: 0;
    padding: 0;
    list-style: none;
  }
  .list li { margin: 0; }
  .list img {
    display: block;
    height: auto;
  }
} //.p-section-keyvisual

@keyframes marqueeY {
  0%   { transform: translate3d(0, 0%, 0); }
  100% { transform: translate3d(0, -50%, 0); } // 半分だけ移動
}
@media (prefers-reduced-motion: reduce) {
  .track { animation: none; }
}


/**
実績  p-section-achievement
----------------------------------------------**/
:root {
  --logo-gap: 40px;     /* ロゴ間の間隔 */
  --logo-h: 40px;       /* ロゴ高さ */
  --duration: 30s;      /* 流れる速度 */
}
.p-section-achievement {
  background: $color04;
  padding: rem(60) 0;
  position: relative;
  &__text {
    font-size:  clamp(18px, rem(26), 26px);
    display: flex;
    gap: vwPC(160);
    place-content: center;
    margin-bottom: rem(30);
    li {
      display: flex;
      align-items: center;
    }
    .en {
      font-size:  clamp(40px, rem(75), 75px);
      color: $color03;
      margin: 0 rem(10);
    }
    small {
      font-size:  clamp(16px, rem(22), 22px);
    }
  }
  .logo-slider {
    overflow: hidden;
    width: 100%;
    max-width: 2000px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
  }

  .logo-track {
    display: flex;
    animation: marquee 30s linear infinite;
    will-change: transform;
  }

  .logo-group {
    flex: 0 0 auto;
    display: flex;
    align-items: center;
    gap: 40px; /* ロゴ間の余白 */
    list-style: none;
    margin: 0;
    padding: 0 20px; /* 両端にも余白を入れるのがポイント */
  }

  .logo-group li {
    flex: 0 0 auto;
  }

  .logo-group img {
    display: block;
    height: auto;
  }

}
@keyframes marquee {
  from { transform: translateX(0); }
  to   { transform: translateX(-50%); } /* ★2グループ分のうち、ちょうど1グループ分だけ動かす */
}

/* SP調整例 */
@media (max-width: 767px) {
  :root { --logo-gap: 24px; --logo-h: 28px; --duration: 24s; }
}

/**
サービス  p-section-service
----------------------------------------------**/
.p-section-service {
  padding: rem(120) 0;

  &__block {
    border-radius: rem(15);
    background: $color04;
    display: grid;
    grid-template-columns: calc(60% - vwPC(50)) calc(40% - vwPC(50));
    align-items: center;
    gap: vwPC(100);
    padding: rem(35);
    &__content {
      h3 {
        font-size:  clamp(25px, rem(40), 40px);
        letter-spacing: 0.04em;
        white-space: nowrap;
      }
      p {
        font-size:  clamp(14px, rem(18), 18px);
        margin-top: rem(20);
        margin-bottom: rem(25);
      }
    }
  }
}


/**
導入事例  p-section__casestudy
----------------------------------------------**/
.p-section__casestudy {
  background: $white;
  padding: rem(100) 0 rem(110);
  .section-slider {
    margin-left: calc((100% - rem(1145)) / 2);
    @include xl {
      margin-left: rem(80);
    }
  }
}

/**
フッダー/ダウンロード・CONTACTリンク
----------------------------------------------**/
.p-section__top {
  .l-link__bottom {
    padding: rem(130) 0 rem(90);
  }
}

/**
ニュース p-news
----------------------------------------------**/
.p-news {
  background: $color04;
  padding: rem(100) 0;
}


/**
ソリューション p-section__solution
----------------------------------------------**/
.p-section__solution {
  color: $white;
  padding-bottom: rem(155);
  .p-section__solution__list {
    display: grid;
    gap: rem(40);
    &__card {
      border-radius: rem(15);
      position: relative;
      &::after {
        content: "";
        background-image: url(../images/common/cover.png);
        background-repeat: no-repeat;
        background-size: cover;
        width: 100%;
        height: 100%;
        position: absolute;
        left: 0;
        top: 0;
      }
      &:nth-child(1) {
        background-image: url(../images/top/solution01.webp);
        background-repeat: no-repeat;
        background-size: cover;
        &::before {
          content: "";
          background-image: url(../images/top/solution01-logo.svg);
          background-repeat: no-repeat;
          background-size: cover;
          width: rem(117);
          height: rem(37);
          position: absolute;
          left: rem(30);
          top: rem(40);
        }
      }
      &:nth-child(2) {
        background-image: url(../images/top/solution02.webp);
        background-repeat: no-repeat;
        background-size: cover;
        &::before {
          content: "";
          background-image: url(../images/top/solution02-logo.svg);
          background-repeat: no-repeat;
          background-size: cover;
          width: rem(141);
          height: rem(45);
          position: absolute;
          left: rem(30);
          top: rem(40);
        }
      }
      &:nth-child(3) {
        background-image: url(../images/top/solution03.webp);
        background-repeat: no-repeat;
        background-size: cover;
        &::before {
          content: "";
          background-image: url(../images/top/solution03-logo.svg);
          background-repeat: no-repeat;
          background-size: cover;
          width: rem(189);
          height: rem(33);
          position: absolute;
          left: rem(30);
          top: rem(40);
        }
      }
    }
    &__content {
      position: relative;
      z-index: 2;
      //width: 50%;
      width: calc(440px + rem(100));
      margin: 0 0 0 auto;
      padding: rem(180) rem(50) rem(60);
      @include lg {
        width: calc(430px + rem(100));
      }
      h3 {
        font-size: clamp(18px, rem(28), 28px);
      }
      &>p {
        font-size: clamp(14px, rem(16), 16px);
        padding: rem(14) 0 rem(30);
      }
      &-tag {
        background: rgba($white, 0.1);
        padding: rem(18);
        border-radius: rem(10);
        p {
          font-size: 10px;
          font-weight: $bold;
          margin-bottom: rem(8);
          small {
            margin-right: rem(5);
          }
        }
        div {
          display: flex;
          //flex-wrap: wrap;
          gap: rem(5);
          position: relative;
          span {
            border: 1px solid rgba($white, 0.7);
            font-size: 11px;
            padding: rem(9) rem(5);
            min-width: 60px;
            text-align: center;
            display: flex;
            align-items: center;
            place-content: center;
            border-radius: rem(10);
            height: 49px;
            white-space: nowrap;
            &.etc {
              border: none;
              padding-left: 0;
              padding-right: 0;
              position: relative;
              right: 0;
              top: 50%;
              display: block;
              width: auto;
              min-width: auto;
            }
            &.pad {
              padding: rem(9) rem(15);
            }
          }
        }
      }
    }
  }

}
